/*
|----------------------------------------------
| RS SELECT
|----------------------------------------------
|
|
*/

$rs-select-radius: 4px;
$rs-select-padding-x: 20px;

// RS SELECT WRAPPER

$rs-select-disabled-color: #dbdbdb;
$rs-select-disabled-background: #eee;

.rs-select {

  display: block;
  width: auto;
  height: auto;
  position: relative;
  box-sizing: border-box;

  font-family: sans-serif;

  > * {
    box-sizing: border-box;
  }

  // disabled state

  &.is-disabled {
    color: $rs-select-disabled-color;
    background: $rs-select-disabled-background;
  }
}


// RS SELECT BUTTON

$rs-select-button-height: 40px;
$rs-select-button-background: #f2f2f2;
$rs-select-button-border-color: #ddd;

.rs-select-button {

  cursor: pointer;
  height: $rs-select-button-height;
  line-height: $rs-select-button-height;
  border: 1px solid $rs-select-button-border-color;
  background: $rs-select-button-background;
  white-space: nowrap;
  position: relative;
  padding: 0 $rs-select-padding-x;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    width: 40px;
    height: 40px;
    //background: grey;
  }

  &::after {
    color: #2199e8;
    content: '❯';
    font-size: 14px;
    right: 15px;
    transform: rotate(90deg);
    //transition: transform 400ms ease-out;
  }

  .is-expanded & {
    &::after {
      transform: rotate(-90deg);
    }
  }
}

//.rs-select-indicator {}

// RS SELECT OPTIONS

$rs-select-options-background: #f2f2f2;
$rs-select-options-border-color: #ddd;

.rs-select-options {
  display: block;
  position: absolute;
  width: auto;
  min-width: 100%;
  height: auto;
  top: 100%;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;

  // going up

  .direction-up & {
    top: auto;
    bottom: 100%;
  }
}

// RS SELECT OPTION

$rs-select-option-border-color: #ddd;
$rs-select-option-padding-y: 5px;

.rs-select-option {

  cursor: pointer;
  line-height: 26px;
  border: 1px solid $rs-select-option-border-color;
  border-top: none;
  padding: $rs-select-option-padding-y $rs-select-padding-x;
  transition: background 400ms linear;

  // hover

  &:hover {
    background: $rs-select-option-border-color;
  }

  // selected

  &.is-selected {
    background: #2199e8;
    color: #ffffff;
  }

  // disabled

  &.is-disabled {
    cursor: default;
    background: $rs-select-disabled-background;
    color: $rs-select-disabled-color;
  }
}
